.span-20.last
  = form_for [artist, album, comment] do |f|
    .span-4
      = f.label :content, 'comment'
    .span-16.last    
      = f.text_area :content, :size => "10x2"
    .span-16.last.actions
      = f.submit