.comment_list
  - comments.each do |comment|
    .comment
      .header.last
        = comment.created_at.strftime("%d.%m.%y %H:%M")
        by 
        = comment.user ? link_to(comment.user.login, user_albums_path(comment.user)) : 'anonymous'
      .content.last
        = comment.content
