- content_for :sidebar do
  .span-4
    = link_to 'Register new user', new_user_path if !current_user
    &nbsp

.span-20.last
  %h1 Users
  %table
    %tr
      %th User
      - @users.each do |user|
        %tr
          %td= link_to(user.login, user_albums_path(user.id))
