- content_for :sidebar do
  .span-4
    &nbsp
    = link_to 'add new user', new_user_path if !current_user

%h1 Users
.span-20.last
  %table
    %tr
      %th User
      - @users.each do |user|
        %tr
          %td= link_to(user.login, user_artists_path(user.id))
