.artist_link
  = link_to 'Artist', artist_path(@aritst)

.form
  = render :partial => 'form', :locals => {:artist => @artist, :album => @album}

.add_track
  = link_to 'add new track', new_artist_album_track_path(@artist,@album)
.track_list
  = render :partial => '/tracks/track_list', :locals => {:album => @album}