- content_for :breadcrumbs do
  = breadcrumbs(@user, @album)

- content_for :sidebar do
  = link_to 'add new track', new_user_artist_album_track_path(@user,@artist,@album)

.span-20.large.last
  Edit Album

.span-20.last
  = render :partial => 'form', :locals => {:artist => @artist, :album => @album}

.span-20.last
  = render :partial => '/tracks/track_list', :locals => {:album => @album}