.span-8
  - form_for :search, :url => search_albums_path do |f|
    = f.search_field :query, :placeholder => 'Search for Albums'
    = f.submit('search')
.span-8
  - form_for :search, :url => search_tracks_path do |f|
    = f.search_field :query, :placeholder => 'Search for Tracks'
    = f.submit('search')

